body {
    background-color: rgb(156, 156, 85);
}

body {
    background-color: #beb2c8;
}
 #headingOne{
    color: chocolate;
}
footer {
    background-color: bisque;
    color: whitesmoke;
    text-align: center;
}
a {
    font-size : 25px;
}

 #logo
 {
    margin-right: 200px;
   
}
a {
    margin-top:  200px;
}